*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width:100%;
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 300px;
    margin : 20px 0px 10px 0px ;
    padding: 10px 20px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button{
    padding: 20px 30px;
}